<%- include('partials/header') -%>

<h1>Compose</h1>
<form class="form-group" action="" method="post">
    <h5>Title</h5>
    <input class="form-control" type="text" name="postTitle" id="compose-title">
    <h5>Post</h5>
    <textarea class="form-control" name="postBody" id="compose-text" cols="" rows="5"></textarea>
    <button class="btn btn-primary submit-button" type="submit" >Publish</button>
</form>


<%- include('partials/footer') -%>